/* Login Page */

.img-login {
    height: 200px !important;
    width: 200px !important;
}

.input-login:focus,
.input-login:focus-visible {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0.25rem rgba(0, 201, 255, 0.5) !important;
}

.button-login {
    background-color: #00c9ff !important;
    border: solid 2px #00c9ff !important;
}

/* Visitor Page */

.img-visitor {
    height: 175px !important;
    width: 175px !important;
}

.a-visitor:hover {
    color: #00c9ff !important;
}